:root {
  --accent-color: #2196f3;
  --first-logo-color: #000000;
  --second-logo-color: #ffffff;
  --first-text-color: #ffffff;
  --second-text-color: #212121;
  --third-text-color: #757575;
  --first-link-icon-color: #afb1b8;
  --second-link-icon-color: #ffffff;
  --first-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --button-focus-color: #188ce8;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
